step-functions/video-processing-workflow.json
{
  "Comment": "영상 변환 및 분석",
  "StartAt": "ExtractVideoInfo",
  "States": {
    "ExtractVideoInfo": {
      "Type": "Pass",
      "Parameters": {
        "jobId.$": "$.detail.jobId",
        "title.$": "$.detail.title",
        "outputBucket.$": "$.detail.outputBucket",
        "s3Path.$": "$.detail.s3Path",
        "prefix.$": "$.detail.prefix",
        "mediaFormat.$": "$.detail.mediaFormat",
        "languageCode.$": "$.detail.languageCode",
        "bucket_path.$": "$.detail.bucket_path",
        "originalFilename.$": "$.detail.originalFilename",
        "subnets.$": "$.detail.subnets"
      },
      "ResultPath": "$.prepared",
      "Next": "ParallelAnalysis"
    },
    "ParallelAnalysis": {
      "Type": "Parallel",
      "Branches": [
        {
          "StartAt": "Transcribe",
          "States": {
            "Transcribe": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-northeast-2:567279714866:function:TranscribeLambda",
              "TimeoutSeconds": 30,
              "Parameters": {
                "jobId.$": "$.prepared.jobId",
                "outputBucket.$": "$.prepared.outputBucket",
                "prefix.$": "$.prepared.prefix",
                "mediaFormat.$": "$.prepared.mediaFormat",
                "title.$": "$.prepared.title",
                "languageCode.$": "$.prepared.languageCode"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "Twelvelabs",
          "States": {
            "Twelvelabs": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:ap-northeast-2:567279714866:function:TwelvlabsLamda",
              "TimeoutSeconds": 30,
              "Parameters": {
                "jobId.$": "$.prepared.jobId",
                "s3Path.$": "$.prepared.s3Path",
                "bucket_path.$": "$.prepared.bucket_path",
                "originalFilename.$": "$.prepared.originalFilename",
                "title.$": "$.prepared.title"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "YoloFargate",
          "States": {
            "YoloFargate": {
              "Type": "Task",
              "Resource": "arn:aws:states:::ecs:runTask",
              "TimeoutSeconds": 60,
              "Parameters": {
                "Cluster": "yolo-cluster",
                "TaskDefinition": "yolo-family:1",
                "LaunchType": "FARGATE",
                "NetworkConfiguration": {
                  "AwsvpcConfiguration": {
                    "Subnets.$": "$.prepared.subnets",
                    "AssignPublicIp": "ENABLED"
                  }
                },
                "Overrides": {
                  "ContainerOverrides": [
                    {
                      "Name": "yolo",
                      "Environment": [
                        {
                          "Name": "OUTPUT_BUCKET",
                          "Value.$": "$.prepared.outputBucket"
                        },
                        {
                          "Name": "originalFilename",
                          "Value.$": "$.prepared.originalFilename"
                        },
                        {
                          "Name": "title",
                          "Value.$": "$.prepared.title"
                        }
                      ]
                    }
                  ]
                }
              },
              "ResultPath": "$.fargateResult",
              "Next": "checkyolo"
            },
            "checkyolo": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "checkyolo",
                "Payload": {
                  "outputBucket.$": "$.prepared.outputBucket"
                }
              },
              "Retry": [
                {
                  "ErrorEquals": [
                    "Lambda.ServiceException",
                    "Lambda.AWSLambdaException",
                    "Lambda.SdkClientException",
                    "Lambda.TooManyRequestsException"
                  ],
                  "IntervalSeconds": 1,
                  "MaxAttempts": 3,
                  "BackoffRate": 2,
                  "JitterStrategy": "FULL"
                }
              ],
              "End": true
            }
          }
        }
      ],
      "End": true
    }
  }
}
